:root{
    --bbgcolour:#BCC3B7
}
body{
    background-color:var(--bbgcolour); 
  }

  .fa-github{
    font-size: 2rem !important;
  }

  .navbar {
       height: 70px;
       line-height: 70px;
       background-color: #40545D;
  }
  .navbar-brand {
       font-size: 20px;
       color: white;
  }
  .bg-dark {
       background-color:#353535 !important;
  }
 
 .form-control{
     background-color: #353535 !important;
     
 }
 ::placeholder {
     color: #999 !important; 
   }
   
